.gradient-custom {
    /* fallback for old browsers */
    background: rgb(248, 184, 45);
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(248, 184, 45), rgb(109, 233, 233));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(248, 184, 45), rgb(109, 233, 233))
  }
  .gatos{
      position:absolute;
      margin-left:650px;
      margin-top: 50px;
  }
  .logo{
      height: 50px;
      width: 75px;
  }